<div class="textarea form-group container">
    <label
      class="h3 mb-4"
      for="textareaComponent">
      Введите данные JSON
    </label>
    <textarea
      class="form-control mb-3 textarea__input"
      id="textareaComponent"
      rows="3"
      [(ngModel)]="dataService.value">
    </textarea>
    <app-button></app-button>
    <a
      class="textarea__link"
      (click)="dataService.downloadJSONinFile()">
      Выгрузить JSON-файл
    </a>
    <a
      class="textarea__link"
      (click)="dataService.loadJSONfromFile()">
      Загрузить рандомный JSON-массив из базы
    </a>
    <div class="textarea__import-block">
      <input
        class="form-control mt-2 textarea__file"
        type="file"
        value="Import">
      <button
        class="btn btn-primary mt-2 textarea__import-button"
        type="submit"
        (click)="dataService.importJSON()">
          Import
      </button>
    </div>
</div>
