:host {
    display: block;
}

.textarea {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    height: 450px;

    &__input {
        resize: none;
    }
}
