<div class="textarea form-group container">
    <label
      class="h3 mb-4"
      for="textareaComponent">
      Введите данные JSON
    </label>
    <textarea
      class="form-control mb-3 textarea__input"
      id="textareaComponent"
      rows="3"
      [(ngModel)]="dataService.value">
    </textarea>
    <app-button></app-button>
    <a
      class="textarea__link"
      (click)="dataService.downloadJSONinFile()">
      Выгрузить JSON-файл
    </a>
    <!-- <input
      class="form-control"
      type="file"
      accept=".json, .csv"
      placeholder="Выберите файл"
      [(ngModel)]="dataService.value"> -->
</div>
