:host {
    display: block;
}

.textarea {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    height: 400px;

    &__input {
        resize: none;
    }

    &__file {
        width: 300px;
    }

    &__import-block {
        display: flex;
    }
}
