:host {
    display: block;
}

.table {
    &__icon {
        cursor: pointer;
    }
}

.inputs {
    &__item {
        width: 400px;
    }
}

.change {
    width: 470px;

    &__item {
        width: 50px;
    }
}
