:host {
    display: block;
}

.table {
    &__icon {
        cursor: pointer;
    }
}

.inputs {
    &__item {
        width: 400px;
    }
}

.change {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__item {
        width: 100px;
    }
}
