<table class="table table-dark container">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th
        scope="col"
        *ngFor="let key of dataService.dataKeys">
        {{ key }}
      </th>
      <th scope="col">features</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataService.data; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let key of dataService.dataKeys">{{ item[key] }}</td>
      <td>
        <i
          class="table__icon fa fa-edit mr-2"
          [id]="i"
          (click)="dataService.openEditor($event)">
        </i>
        <i
          class="table__icon fa fa-times"
          [id]="i"
          (click)="dataService.deleteData($event)">
        </i>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<app-button class="container d-flex justify-content-center"></app-button>
<hr>
<div class="change container mb-4 d-flex align-items-center justify-content-between">
  <span>Изменить позицию</span>
  <input
    class="form-control change__item"
    type="text"
    [(ngModel)]="dataService.changePosition.old">
  <span>на</span>
  <input
    class="form-control change__item"
    type="text"
    [(ngModel)]="dataService.changePosition.new">
  <button
    type="submit"
    class="btn btn-primary"
    (click)="dataService.changePositions()">
      Изменить
  </button>
</div>
<hr>
<div class="inputs container d-flex flex-column align-items-center">
  <input
    class="form-control mb-2 inputs__item"
    maxlength="30"
    type="text"
    pattern="(.*[0-9A-Za-z].*)"
    [placeholder]="key"
    [(ngModel)]="dataService.newData[key]"
    *ngFor="let key of dataService.dataKeys"
    required>
  <button
    type="submit"
    class="btn btn-primary mb-4"
    (click)="dataService.addData()">
      Добавить
  </button>
</div>

